/*角ボタン　*/
.btn1 {
  display: block;
  width: 160px;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  color: #000;
  border: 1px solid #000;
}
.btn1:hover {
  background: #000;
  color: #fff;
}

/*丸ボタン　*/
.btn2 {
  display: block;
  width: 160px;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  color: #000;
  border: 1px solid #000;
  border-radius: 30px;
}
.btn2:hover {
  background: #000;
  color: #fff;
}

/*立体ボタン　*/
.top {
  height: 300px;
  width: 100%;
  background: #cccccc;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
}
.content {
  height: 3000px;
  background: linear-gradient(#e66465, #9198e5);
}
.scroll-top {
  position: fixed;
  right: 20px;
  bottom: 20px;
  background-color: #999;
  opacity: 0.8;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  color: #fff;
  cursor: pointer;
}
